.example-form-field {
  width: 40%;
  margin-right: 50px;
  margin-top: 20px;
}
.example-form-field {
  width: 40%;
  margin-right: 50px;
  margin-top: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.custom-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif; /* Tipografía personalizada */
}

.toggle-description {
  margin-bottom: 10px;
  font-size: 18px;
  color: #4CAF50; /* Color verde para el texto descriptivo */
}

.custom-toggle {
  width: 200px;
  border-radius: 30px;
  background-color: #f2f2f2;
  transition: all 0.5s ease;
}

.custom-toggle.mat-checked {
  background-color: #4CAF50; /* Color verde cuando está activado */
}

.toggle-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3f51b5;
}

.custom-toggle.mat-checked .toggle-content {
  color: #fff;
}