<mat-toolbar style="background: linear-gradient(to right,rgb(7, 36, 99), #107fb6 ); padding: 46px; font-family: Arial, sans-serif; color: #f8f9fa;">
  <button mat-button routerLink="/" style="margin-right: 20px; color: #f8f9fa;">
    <mat-icon>home</mat-icon> Internet de las cosas
  </button>
  <span class="example-spacer"></span>
  <span *ngIf="islogged" class="cont-user" style="margin-right: 20px;"> 
    <img src="assets/imagenes/user.png" alt="icono-usuario" style="margin-right: 5px;"> {{nombreUsuario}}
  </span>

  <button mat-button *ngIf="!islogged" [disabled]="false">
    <mat-icon>people</mat-icon>
    <span style="display: block; text-align: center; font-size: 14px; color: #f8f9fa;">
      De la cruz Pizango,Jesus<br>
      Del Aguila Quispe, Erwin<br>
      Centurion Cabrera, Adrian
    </span>
  </button>
  
</mat-toolbar>
<div style="height: 20px;"></div>
<div class="container" style="box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); background: #f8f9fa; border-radius: 100px; padding: 20px; margin-bottom: 20px;">
  <app-qas-libre></app-qas-libre>
</div>
<div style="height: 80px;"></div>
